<h1>Inventories</h1>
<%= link_to '+ New Inventory', new_inventory_path %>
<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @inventories.each do |inventory| %>
    <tr>
      <td><%= inventory.product %></td>
      <td><%= inventory.quantity %></td>
      <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
      <td><%= link_to 'Delete', inventory_path(inventory) %></td>
    </tr>
    <% end %>
    <tr>
      <td><h3>Deleted Inventories</h3></td>
    </tr>
      <% @deleted_inventories.each do |inventory| %>
    <tr>
      <td><%= inventory.product %></td>
      <td><%= inventory.quantity %></td>
      <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
      <td><%= button_to 'Recover', inventory_path(inventory), method: :patch %></td>
    </tr>
    <% end %>
  </tbody>
</table>
