<%= form_for @inventory do |f| %>
  <%= f.label :product %>
  <%= f.text_field :product %>
  <%= f.label :quantity %>
  <%= f.text_field :quantity %>
  <%= f.submit %>
  <% if f.object.errors.any? %>
    <div>
      <strong>The following errors prevented creating new inventory:</strong>
      <ul>
        <% f.object.errors.full_messages.each do |error| %>
          <li><%= error %></li>
          <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
