<h3>You are about to delete product: <%= @inventory.product %></h3>
<p>Quantity: <%= @inventory.quantity %></p>
<h3>Add a deletion comment</h3>
<%= form_with model: [@inventory, @inventory.delete_comments.build] do |form| %>
  <p>
    <%= form.label :comment %><br>
    <%= form.text_field :body %>
  </p>
  <p>
    <%= form.submit "Delete"%>      
  </p>
<% end %>
  
<%= button_to 'Delete without comment', inventory_path(@inventory), method: :delete %>
<%= link_to 'Back', inventories_path %>